@media screen and (max-width:1600px) {
    main {
        width: 80vw;
    }

    header {
        width: 80vw;
    }

    footer {
        width: 80vw;
    }
}
@media screen and (max-width:1500px) {
    main {
        width: 85vw;
    }

    header {
        width: 85vw;
    }

    footer {
        width: 85vw;
    }
}
@media screen and (max-width:1400px) {
    main {
        width: 90vw;
    }

    header {
        width: 90vw;
    }

    footer {
        width: 90vw;
    }

    .nav {
        height: 150px;
    }
}
@media screen and (max-width:1300px) {
    main {
        width: 95vw;
    }

    header {
        width: 95vw;
    }

    footer {
        width: 95vw;
    }
}
@media screen and (max-width:1200px) {
    main {
        width: 100vw;
    }

    header {
        width: 100vw;
    }

    footer {
        width: 100vw;
    }

    .opitions {
        font-size: 14px;
    }
}
@media screen and (max-width:1050px) {
    :root {
        --size-250px: calc(250px / 1.3);
        --size-100px: calc(100px / 1.3);
        --font-size-22px: calc(22px / 1.3);
    }
}
@media screen and (max-width:1000px) {
    :root {
        --search-height: 30px;
        --bg-size: cover;
    }

    .search input {
        width: 200px;
    }
    .suport {
        height: 480px;
    }
    #row-tecnologia-vestivel{
        position: absolute;
        z-index: -1;
    }
    .overlay-suport {
        width: 400px;
        height: 480px;
    }
}
@media screen and (max-width:850px) {
    .logo {
        /* background-color: aqua; */
        font-size: 30px;
    }

    .search {
        /* background-color: brown; */
        width: 50%;
    }

    .perfil {
        /* background-color: blue; */
        width: 28%;
        min-width: 30px;

    }

    .login-user {
        order: 5;
    }

    .icon-user {
        width: 50px;
        height: 50px;
        position: absolute;
        z-index: 1;
        background-image: url('/img/account-circle.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .login {
        position: absolute;
        z-index: -1;
    }

    .sing {
        width: 10px;
        position: absolute;
        z-index: -2;
    }

    .carrinho {
        width: 10px;
        margin-left: 3%;
    }

    .opitions {
        position: absolute;
        z-index: -1;
    }

    #row-loja {
        position: relative;
        z-index: 1;
    }

    #row-computadores {
        position: relative;
        z-index: 1;
    }

    #row-celulares {
        position: relative;
        z-index: 1;
    }

    #row-promoçoes {
        position: relative;
        z-index: 1;
    }
}
/* suporte /////////////////////////////////////////////////////////// */

@media screen and (max-width:750px) {
    .row-top .logo {
        font-size: 30px !important;
    }
    .overlay-suport {
    width: 300px;
}
}
@media screen and (max-width:600px) {


    .logo {
        /* background-color: aqua; */
        font-size: 22px;
    }

    .search input {
        width: 150px;
    }
    /* suporte /////////////////////////////////////////////////////////// */
    .suport {
        background: transparent;
        background-color: rgb(0, 0, 0);
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }

    .overlay-suport {
        width: 100%;
        height: 250px;
        text-align: center;
        clip-path: none;
        justify-content: center;
    }

    .overlay-suport-texto {
        width: 90%;
        align-items: center;
        text-align: center;
        flex-direction: column;
        justify-content: space-between;
        height: 90%;
    }

    .overlay-suport h2 {
        text-align: center;
    }

    .overlay-suport-bg {
        position: relative;
        z-index: 1;
        width: 120%;
        height: 250px;
        background-image: url('/img/final-bg.webp');
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;
        margin-left: -100px;
        clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
    }

}