 /* fonts////font-family: 'Open Sans', sans-serif;////
font-family: 'Roboto', sans-serif;////
 */

 body {
     height: auto;

 }

 main {
     background-color: white !important;
 }

 footer .suport {
     margin-top: 0px;
 }

 .conteudo {
     width: 100%;
     max-width: 1000px;
     height: auto;
     background-color: rgb(255, 255, 255);
     display: flex;
     justify-content: center;
     gap: 30px;
     font-family: 'Open Sans', sans-serif;
     margin-bottom: 50px;

 }

 .imagem-descricao {
     width: 48%;
     height: auto;
     /* background-color: blue; */
     max-width: 500px;
     display: flex;
     flex-direction: column;
     visibility: hidden;
 }



 .imagem-descricao img {
     margin-top: 100px;
     object-fit: contain;
     width: 100%;
     height: 600px;
     background-color: rgb(255, 255, 255);
     border: 1px solid;
     order: 1;
 }

 .imagem-descricao p {
     margin-top: 20px;
     /* height: 500px; */
     /* background-color: #751fff; */
     width: auto;
     line-height: 1.5;
     font-size: 18px;
     text-align: justify;
     order: 2;
 }

 .descricao-do-produto {
     width: 44%;
     height: auto;
     /* background-color: rgb(19, 187, 47); */
     display: flex;
     flex-direction: column;
     max-width: 500px;
 }

 .titulo {
     width: 100%;
     /* height: 150px; */
     /* background-color: rgb(185, 37, 37); */
     margin-top: 100px;
     font-size: 34px;
     font-weight: 700;
     line-height: 1.4;
     /* border-top: 1px solid ; */
     /* text-align:justify; */

 }

 .descricao-do-produto p {
     height: 50px;
     width: 100%;
     /* background-color: aqua; */
     margin-top: 40px;
     display: flex;
     align-items: center;
     font-size: 24px;
     font-weight: 300;
 }

 .desconto {
     padding-right: 20px;
     text-decoration: line-through;
 }

 .quantidade {
     background-color: white;
     margin-top: 40px;
 }

 .quantity-selector {
     display: flex;
     gap: 10px;
     /* border: 1px solid #ccc; */
     border-radius: 5px;
     flex-direction: column;
 }

 .quantity-selector label {
     margin-bottom: 10px;
 }

 .quantity-selector input {
     width: 50px;
 }

 #quantity {
     height: 30px;
     width: 60px;
     padding: 10px;
     font-size: 22px;
     outline: none;
     border: 1px #cecece solid;
     padding-left: 20px;
 }

 .add-to-cart-button {
     background-color: #751fff;
     font-family: 'Roboto', sans-serif;
     height: 50px;
     border-radius: 50px;
     cursor: pointer;
     color: white;
     font-weight: 300;
     font-size: 20px;
     border: none;
     margin-top: 80px;
 }


 .comprar-adiconar {
     height: 120px;
     width: 100%;
     /* background-color: brown; */
     margin-top: 20px;
     display: flex;
     flex-direction: column;
     gap: 20px;
 }

 .comprar-adiconar button {
     height: 50px;
     border-radius: 50px;
     cursor: pointer;
     color: white;
     font-weight: 300;
     font-size: 20px;
     border: none;
 }

 .adicionar-ao-carrinho {
     background-color: #751fff;
     font-family: 'Roboto', sans-serif;
 }

 .comprar {
     background-color: black;
     font-family: 'Roboto', sans-serif;
 }

 .accordion .accordion-content {
     max-height: 0px;
     overflow: hidden;
     transition: max-height 0.4s ease-out;
     /* padding: 10px 0; */
     /* border-radius: 10px; */
     border: none !important;
     /* border-radius: 10px ; */
 }

 .accordion .accordion-content div {
     /* border: 1px solid; */
     border: none !important;
     /* background-color: #333; */
     margin-top: -40px;
     padding-top: 0px;
 }

 .accordion .accordion-content .accordion-texto {

     font-size: 14px;
     font-weight: 400;
     line-height: 1.7;
     height: auto;
     /* white-space: pre-line; */

 }

 .accordion-texto {
     width: 100%;
     font-size: 14px;
     font-weight: 400;
     line-height: 1.7;
     height: auto;
     /* white-space: pre-line; */
     /* text-align: justify; */
     max-height: 1500px;
     height: auto;
     font-size: 16px;
     color: #333;
     line-height: 1.6;
     /* margin-bottom: 0; */
     margin-top: 10px;
     margin-bottom: 10px;
     font-family: 'roboto', sans-serif;
     font-weight: 400;
     /* background-color: #333; */
     display: flex;
     flex-direction: column;
     padding: 0px;
 }

 .accordion-texto p {
     width: 100%;
     font-size: 14px;
     font-weight: 400;
     line-height: 1.7;
     height: auto;
     /* white-space: pre-line; */
     /* text-align: justify; */
     max-height: 1500px;
     height: auto;
     font-size: 16px;
     color: #333;
     line-height: 1.6;
     /* margin-bottom: 0; */
     margin-top: 50px;
     margin: 0px;
     font-family: 'roboto', sans-serif;
     font-weight: 400;
     padding: 0px;
     /* background-color: #751fff; */
     display: flex;
     flex-wrap: wrap;
     align-items: start;
     text-align: left;
     font-weight: 300;
 }

 .accordion-texto span {
     /* background-color: #555; */
     margin-right: 10px;
     font-weight: bold;

 }

 .accordion-devolucao {
     max-height: 1500px;
     width: 100%;
     max-width: 800px;
     /* margin: auto; */
     /* padding: 20px; */
     /* background-color: #f2f2f2; */
     /* border-radius: 10px; */
     /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
     display: flex;
     flex-direction: column;
     justify-content: start;
     align-items: start;

 }

 .accordion-devolucao .devolucao-text {
     max-height: 2000px;
     height: auto;
     font-size: 18px;
     color: #333;
     line-height: 1.6;
     /* background-color: #751fff; */
     /* margin-bottom: 20px; */
     margin-bottom: 25px;
     margin-top: 10px;
     font-family: 'roboto', sans-serif;
     font-weight: 400;
 }

 .accordion-devolucao .devolucao-text:first-child {
     height: 200px;
     margin-bottom: 0px;
 }

 .accordion-devolucao .devolucao-text:last-child {
     margin-bottom: 20px;
 }

 .accordion-button {
     width: 100%;
     display: flex;
     height: 50px;
     align-items: center;
     border: none;
     font-size: 18px;
     font-weight: 300;
     background-color: rgb(255, 255, 255);
     font-family: 'Roboto', sans-serif;
     justify-content: space-between;
     padding: 0px;
 }

 .accordion-item.open .accordion-content {
     max-height: 2000px;
     /* padding: 20px 0; */
     transition: max-height 1s ease-in;
 }

 .accordion-symbol {
     display: inline-block;
     transition: transform 0.5s ease;
     width: 20px;
     /* background-color: #751fff; */
     margin-left: auto;
 }

 .rotate {
     transform: rotate(180deg);
 }

 .accordion div:nth-child(1) {
     border-bottom: 1px solid gray;
 }

 .accordion div:nth-child(3) {
     border-top: 1px solid gray;
 }

 /* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////outras-opecoes */
 .outras-opecoes {
     min-height: 500px;
     width: 1100px;
     max-width: 1100px;
     background-color: transparent;
     display: flex;
     overflow: hidden;
     gap: 20px;
     margin-bottom: 100px;
     scroll-behavior: smooth;
 }

 #outras-opecoes {
     width: 100%;
     /* background-color: rgb(114, 33, 33); */
     display: flex;

 }

 .card {
     height: 350px;
     width: 230px;
     display: flex;
     flex-direction: column;
     position: relative;
     flex-shrink: 0;
     margin-top: 120px;
     /* scroll-behavior:smooth; */
     /* transition: 500ms all ease; */
     user-select: none;
 }

 .cardlink {
     height: 350px;
     width: 230px;
     border: 2px #dddddd solid;
     display: flex;
     flex-direction: column;
     position: relative;
     flex-shrink: 0;
     /* scroll-behavior:smooth; */
     /* transition: 500ms all ease; */
 }

 .item-img {
     height: 40%;
     width: 230px;
     background-color: white;
     overflow: hidden;
     display: flex;
     justify-content: center;
     align-items: center;

 }

 .item-img-promo {
     width: 100px;
     height: 100%;
     object-fit: contain;
 }

 .item-img-promo:hover {
     transform: scale(1.5);
     transition: transform 0.5s ease;
 }

 .promoçao {
     position: absolute;
     width: 70%;
     top: 0;
     left: 0;
     background-color: #d72d2d;
     color: white;
     padding: 4px;
     margin: 0;
     z-index: 1;
     font-size: 16px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-family: 'Open Sans', sans-serif;
 }

 .description-item {
     height: 60%;
     width: 100%;
     background-color: rgb(255, 255, 255);
 }

 .description-item {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     flex-direction: column;
 }

 .description-item p {
     width: 80%;
     font-size: 16px;
     line-height: 1.5;
     display: flex;
     justify-content: center;
     align-items: center;
     font-weight: 400;
     font-family: 'Open Sans', sans-serif;
     height: 100px;
 }

 .item-price {
     width: 80%;
     line-height: 1.3;
     color: #751fff;
     display: flex;
     flex-direction: column;
     align-items: normal !important;
     justify-content: flex-end !important;
     font-family: 'Roboto', sans-serif;
     /* background-color: #c4c2c2 !important;  */
     height: 90px !important;
     padding-bottom: 40px;
 }

 .item-price span {
     font-size: 22px !important;
     font-weight: 300;
 }

 .promocao {
     text-decoration: line-through;
 }

 .card:hover .item-shopping-cart {
     z-index: 2;
 }

 .item-shopping-cart {
     position: absolute;
     z-index: -1;
     height: 50px;
     width: 50px;
     bottom: 40px;
     right: 10px;
     transition: 500ms ease-out all;
     border: none;
     background: transparent;
 }

 .item-shopping-cart img {
     height: 100%;
     width: 100%;
     object-fit: contain;
     cursor: pointer;
 }
 

 .animate-swing {
     animation: swing 1s ease;
 }

 @keyframes swing {
     20% {
         transform: rotate3d(0, 0, 1, 15deg);
     }

     40% {
         transform: rotate3d(0, 0, 1, -10deg);
     }

     60% {
         transform: rotate3d(0, 0, 1, 5deg);
     }

     80% {
         transform: rotate3d(0, 0, 1, -5deg);
     }

     100% {
         transform: rotate3d(0, 0, 1, 0deg);
     }
 }

 /* Estiliza a barra de rolagem para o Google Chrome, Safari e Edge */
 ::-webkit-scrollbar {
     width: 12px;
     /* Largura da barra de rolagem vertical */
     height: 12px;
     /* Altura da barra de rolagem horizontal */
 }

 /* Estiliza a "trilha" da barra (onde a barra "corre") */
 ::-webkit-scrollbar-track {
     background: #f1f1f1;
     /* Cor da trilha */
 }

 /* Estiliza a "puxador" da barra (a parte que você move) */
 ::-webkit-scrollbar-thumb {
     background: #888;
     /* Cor do puxador */
 }

 /* Estiliza o "puxador" da barra quando mouse sobre */
 ::-webkit-scrollbar-thumb:hover {
     background: #555;
     /* Cor do puxador quando mouse sobre */
 }


 /* escroll////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
 .container {
     display: flex;
     align-items: center;
     user-select: none;
     height: 500px;
     justify-content: center;
     background-color: transparent;
 }

 #btn-right {
     height: 60px;
     width: 60px;
     border-radius: 50px;
     border: none;
     position: relative;
     background-color: transparent;
     z-index: 2;
     font-size: 100px;
     user-select: none;
     left: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 #btn-left {
     height: 60px;
     width: 60px;
     border-radius: 50px;
     border: none;
     position: relative;
     background-color: transparent;
     z-index: 2;
     font-size: 100px;
     user-select: none;
     left: -50px;
     color: transparent;
     display: flex;
     justify-content: center;
     align-items: center;
 }


 @media screen and (max-width:1650px) {
     #outras-opecoes {
         width: 1000px;
     }

 }

 @media screen and (max-width:1550px) {
     #outras-opecoes {
         width: 900px;
         /* border: 1px solid; */
     }

     #btn-right {
         left: 30px;
     }

     #btn-left {
         left: -30px;
     }

 }

 @media screen and (max-width:1150px) {
     #outras-opecoes {
         width: 700px;
         /* border: 1px solid; */
     }

 }

 @media screen and (max-width:900px) {
     #outras-opecoes {
         width: 500px;
         /* border: 1px solid; */
     }

     #btn-right {
         left: 0px;
         font-size: 70px;
     }

     #btn-left {
         left: 0px;
         font-size: 70px;
     }
 }

 @media screen and (max-width:650px) {
     #outras-opecoes {
         width: 500px;
         overflow: auto;
     }

     #btn-right {
         display: none;
     }

     #btn-left {
         display: none;
     }

 }

 @media screen and (max-width:1650px) {}