/* fonts////font-family: 'Open Sans', sans-serif;////
font-family: 'Roboto', sans-serif;////
 */


main {
    /* height: 1000px !important; */
    justify-content: center;
}

footer {
    background-color: white !important;
}

.hide {
    display: none !important;
}

.all {
    height: auto;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-top: 100px;
    /* background-color: #751fff; */
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.produtos-categorias {
    /* height: 1500px; */
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
}

.categorias {
    height: 100%;
    width: 300px;
    /* background-color: bisque; */
}

.filtro {
    width: 70%;
    height: 100px;
    background-color: white;
    border-bottom: 1px solid;
    margin-left: 50px;
    display: flex;
    align-items: end;
    padding-bottom: 30px;
    font-size: 26px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

#categorias {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 500px;
    /* background-color: #751fff; */
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;
}

#categorias p {
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: 500;
    font-size: 20px;
}

#categorias button {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
}

#categorias button:hover {
    color: #807d7d;
}

#produtos {
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
}

.filter-condition {
    width: 90%;
    height: 100px;
    /* background-color: rgb(82, 187, 22); */
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.custom-select-wrapper {
    position: relative;
    display: inline-block;
    border: 2px solid #ccc;

}

.custom-select {
    position: relative;
    display: block;
    cursor: pointer;
}

.custom-select-selected {
    background-color: white;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 20px;
    padding: 6px 10px;
    padding-right: 30px;
    user-select: none;
    height: 20px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-select-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 2;
    font-size: 18px;
    border: 2px solid #ccc;
    border-top: none;
    width: 190px;
    margin-left: -2px;
}

.custom-select-options li {
    padding: 6px 10px;
    cursor: pointer;
}

.custom-select-options li:hover {
    background-color: #f5f5f5;
}

.custom-select-wrapper::after {
    content: '▼';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #8a2be2;
    z-index: 2;
}

.custom-select-options.show {
    display: block;
}



#produtos-cards {
    height: 100%;
    width: 100%;
    /* background-color: rgb(114, 33, 33); */
    display: flex;
    flex-wrap: wrap;
}

.card {
    height: 350px;
    width: 230px;
    border: 1px #dddddd solid;
    display: flex;
    flex-direction: column;
    position: relative;
    flex-shrink: 0;
    /* scroll-behavior:smooth; */
    /* transition: 500ms all ease; */
}

.item-img {
    height: 40%;
    width: 230px;
    background: transparent;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.item-img-promo {
    width: 100px;
    height: 100%;
    object-fit: contain;
    transition: transform 0.5s ease;
}

.item-img-promo:hover {
    transform: scale(1.5);
}

.promoçao {
    position: absolute;
    width: 70%;
    top: 0;
    left: 0;
    background-color: #d72d2d;
    color: white;
    padding: 4px;
    margin: 0;
    z-index: 1;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.description-item {
    height: 60%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.description-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.description-item p {
    width: 80%;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    height: 100px;
}

.item-price {
    width: 80%;
    line-height: 1.3;
    color: #751fff;
    display: flex;
    flex-direction: column;
    align-items: normal !important;
    justify-content: start !important;
    font-family: 'Roboto', sans-serif;
    /* background-color: #c4c2c2 !important;  */
    height: 90px !important;
}

.item-price span {
    font-size: 22px !important;
    font-weight: 300;
}

.promocao {
    text-decoration: line-through;
}