:root {
    --size-250px: 250px;
    --size-100px: 100px;
    --font-size-22px: 22px;
    --search-height: 40px;
    --bg-size: cover;
    --background-none: white;
    --background-black: black;
    --color-black: black;
    --color-white: white;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

main{
    font-family: 'Open Sans', sans-serif;
    overflow: hidden ;
}

/* .fundo-escuro.visivel{
    height: 6840px;
} */
/* main img ////////////////////////////////////////////////////////*/
.img-promo {
    background-image: url('/img/celular.bg.png');
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: aqua;
    display: flex;
    align-items: center;
}

.text-image {
    height: 90%;
    width: 460px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    margin-left: 160px;
    margin-bottom: auto;
}

.text-image h3 {
    font-size: 20px;
    background-color: #d72d2d;
    width: max-content;
    padding: 5px;
    color: white;
}

.text-image h2 {
    font-size: 70px;
    /* position: relative; */
    top: -12px;
    font-weight: 600;
}

.text-image p {
    font-size: 18px;
    font-weight: 200;
}

.text-image button {
    background-color: #751fff;
    color: white;
    height: 50px;
    border-radius: 50px;
    width: 170px;
    border: none;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.text-image button:hover {
    background-color: black;
    transition: 500ms all;
}

/* main img 2 red and roxo ///////////////////////////////////////////// */
.img-promo2 {
    width: 100%;
    height: auto;
    /* background-color: #f35f5f; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 40px;
    justify-content: space-between;
    align-items: center;
}

.cell-red {
    background-image: url('/img/celular-vemelho.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 490px;
    width: 48%;
    height: 600px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

}

.cell-red h3 {
    font-size: 20px;
    position: relative;
    margin-top: -50px;
    margin-bottom: 10px;
    margin-left: 65px;
    font-weight: 200;
}

.cell-red span {
    font-size: 50px;
    position: relative;
    margin-left: 65px;
    font-weight: 700;
}

.cell-red p {
    font-size: 20px;
    margin-left: 65px;
    font-weight: 200;
    margin-top: 15;
    margin-bottom: 20px;
}


.cell-red button {
    background-color: white;
    color: black;
    height: 40px;
    border-radius: 40px;
    width: 140px;
    border: none;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    transition: 400ms all ease;
    margin-left: 65px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.cell-red button:hover {
    background: transparent;
    color: white;
    border: white 1px solid;
}

.headset-roxo {
    background-image: url('/img/fone-roxo.jpg');
    width: 48%;
    min-width: 490px;
    height: 600px;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.headset-roxo h3 {
    font-size: 20px;
    position: relative;
    margin-top: -50px;
    margin-bottom: 10px;
    margin-left: 65px;
    font-weight: 200;
}

.headset-roxo span {
    font-size: 50px;
    position: relative;
    margin-left: 65px;
    width: 300px;
    font-weight: 700;
}

.headset-roxo p {
    font-size: 20px;
    margin-left: 65px;
    font-weight: 200;
    margin-top: 15px;
    margin-bottom: 20px;
}

.headset-roxo button {
    background-color: white;
    color: black;
    height: 40px;
    border-radius: 40px;
    width: 140px;
    border: none;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    transition: 400ms all;
    margin-left: 65px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.headset-roxo button:hover {
    background: transparent;
    color: white;
    border: white 1px solid;
}

/* mais positives points ////////////////////////////////////////////////////////////////// */
.beneficios {
    margin-top: 50px;
    width: 100%;
    background-color: #ececec;
    height: 250px;
    display: flex;

}

.description {
    height: 250px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.moto {
    height: var(--size-100px);
    width: var(--size-250px);
    /* background-color: rgb(149, 179, 17); */
    display: flex;
    margin-left: 20px;
    /* text-align: center; */
}

.moto div {
    background-image: url("/img/delivery-bike-512.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100px;
    width: 30%;
    /* border: solid 1px; */
    margin-right: 20px;
}

.moto p {
    width: 70%;
    font-size: var(--font-size-22px);
    /* text-align: center; */
    height: 100px;
    /* background-color: #751fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    line-height: 1.3;
}

.box {
    height: var(--size-100px);
    width: var(--size-250px);
    /* background-color: rgb(8, 163, 60); */
    display: flex;
}

.box div {
    background-image: url("/img/box-512.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100px;
    width: 30%;
    /* border: solid 1px; */
    margin-right: 20px;
}

.box p {
    width: 70%;
    font-size: var(--font-size-22px);
    /* text-align: center; */
    height: 100px;
    /* background-color: #751fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    line-height: 1.3;
}

.estrato {
    height: var(--size-100px);
    width: var(--size-250px);
    /* background-color: rgb(26, 99, 141); */
    display: flex;
    /* margin-left: 30px; */
}

.estrato div {
    background-image: url("/img/tax-512.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100px;
    width: 30%;
    /* border: solid 1px; */
    margin-right: 20px;
}

.estrato p {
    width: 70%;
    font-size: var(--font-size-22px);
    /* text-align: center; */
    height: 100px;
    /* background-color: #751fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    line-height: 1.3;
}

.quickly {
    height: var(--size-100px);
    width: var(--size-250px);
    /* background-color: rgb(43, 2, 141); */
    display: flex;
}

.quickly div {
    background-image: url("/img/24-hours-512.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100px;
    width: 30%;
    /* border: solid 1px; */
    margin-right: 20px;
}

.quickly p {
    width: 70%;
    font-size: var(--font-size-22px);
    /* text-align: center; */
    height: 100px;
    /* background-color: #751fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    line-height: 1.3;
}

/* mais vendidos ///////////////////////////////////////////////////////// */
.container {
    height: 700px;
    width: 100%;
    max-width: 1920px;
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    overflow: hidden;
    position: relative;
    user-select: none;
}

.container h2 {
    font-size: 36px;
    font-weight: 600;
}

.itens {
    height: 370px;
    width: 95%;
    /* background-color: coral; */
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow: hidden ;
    cursor: pointer;
    justify-content: start;
    scroll-behavior: smooth;
}

.itens-2 {
    height: 360px;
    width: 95%;
    /* background-color: coral; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    scroll-behavior: smooth;
}

#btn-left {
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    background-color: rgb(255, 254, 254);
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 1;
    border: none;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: none;
    /* padding: 10px 20px; */
    text-align: center;
    font-size: 16px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.08);
}

#btn-left:hover {
    transform: translateY(calc(-50% - -2px));
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.1);
}

#btn-left-2 {
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    background-color: rgb(255, 254, 254);
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    z-index: 1;
    border: none;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: none;
    /* padding: 10px 20px; */
    text-align: center;
    font-size: 16px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.08);
}

#btn-left-2:hover {
    transform: translateY(calc(-50% - -2px));
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.1);
}

#btn-right {
    height: 45px;
    width: 45px;
    text-align: center;
    border: none;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    z-index: 1;
    /* padding: 10px 20px; */
    text-align: center;
    font-size: 16px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.08);
}

#btn-right:hover {
    transform: translateY(calc(-50% - -2px));
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.1);
}

#btn-right-2 {
    height: 45px;
    width: 45px;
    text-align: center;
    border: none;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    z-index: 1;
    /* padding: 10px 20px; */
    text-align: center;
    font-size: 16px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.08);
}

#btn-right-2:hover {
    transform: translateY(calc(-50% - -2px));
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item {
    height: 350px;
    width: 230px;
    border: 1px #edecec solid;
    display: flex;
    flex-direction: column;
    position: relative;
    flex-shrink: 0;
    /* scroll-behavior:smooth; */
    /* transition: 500ms all ease; */
}
.item a{
    width: 100%;
    height: 100%;
}
.item:hover .item-shopping-cart{
    z-index: 1;
    
}


.item-shopping-cart{
    position: absolute;
    z-index: -1;
    height: 40px;
    width: 40px;
    bottom: 70px;
    right: 30px;
    transition:  500ms ease-out all;
    border: none;
    background-color: white;
}

.item-shopping-cart img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    cursor: pointer;
}
.animate-swing {
    animation: swing 1s ease;
}
@keyframes swing {
    20% {
        transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        transform: rotate3d(0, 0, 1, -5deg);
    }

    100% {
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

.item-2 {
    height: 350px;
    width: 230px;
    border: 1px #edecec solid;
    display: flex;
    flex-direction: column;
    position: relative;
    flex-shrink: 0;
    /* scroll-behavior:smooth; */
}
.item-2 a{
    height: 350px;
    width: 230px;
    border: 1px #edecec solid;
    display: flex;
    flex-direction: column;
    position: relative;
    flex-shrink: 0;
    /* scroll-behavior:smooth; */
}
.item-2:hover .item-shopping-cart{
    z-index: 1;
}

.item-img {
    height: 40%;
    width: 230px;
    background: transparent;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-img-promo {
    width: 100%;
    height: 100%;
    object-fit: contain !important;
    transition: transform 0.5s ease;
}

.item-img-promo:hover {
    transform: scale(1.5);
}

.promoçao {
    position: absolute;
    width: 70%;
    top: 0;
    left: 0;
    background-color: #d72d2d;
    color: white;
    padding: 4px;
    margin: 0;
    z-index: 1;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description-item {
    height: 60%;
    width: 100%;
    background-color: white;
}

.description-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.description-item p {
    width: 80%;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    /* background-color: #751fff; */
    height: 100px;
}

.item-price {
    width: 80%;
    font-size: 18px !important;
    line-height: 1.3;
    color: #751fff;
    display: flex;
    justify-content: space-between !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    /* background-color: #d72d2d !important;  */
    height: 50px !important;
}

.description-item span {
    width: 80%;
    font-size: 18px;
    line-height: 1.3;
    color: #751fff;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-decoration: line-through;
    margin-right: 7px;
}

.btn-ver-tudo {
    background-color: #751fff;
    color: white;
    height: 50px;
    border-radius: 50px;
    width: 270px;
    border: none;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.btn-ver-tudo:hover {
    background-color: black;
    transition: 500ms all;
}

/* CATEGORIAS ////////////////////////////////////////////////////////  */

.categoria {
    width: 100%;
    height: 700px;
    background-color: white;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.categoria h2 {
    /* background-color: #d72d2d; */
    min-width: 350px;
    text-align: center;
    font-size: 36px;
    margin-bottom: 60px;
    font-weight: 600;
    margin-top: 50px;
}

.categoria-items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 470px;
    width: 90%;
    margin-bottom: 50px;
    /* background-color: #d72d2d; */
}

.categoria-item {
    /* background-color: aqua; */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* transition: transform 0.5s ease; */
}

.categoria-item p {
    /* background-color: #751fff; */
    min-width: 110px;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
    font-weight: 600;
}

.categoria-item-nome-Alto-falantes {
    min-width: 110px;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
    font-weight: 600;
}

.categoria-item-nome-Head-phones {
    min-width: 110px;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
    font-weight: 600;
}



.categora-item-img {
    height: 120px;
    width: 120px;
    background-color: #eeeeee;
    border-radius: 50%;

}

.categora-item-img-Alto-falantes {
    height: 120px;
    width: 120px;
    background-color: #eeeeee;
    border-radius: 50%;
}

.categora-item-img-Head-phones {
    height: 120px;
    width: 120px;
    background-color: #eeeeee;
    border-radius: 50%;
}

#categora-item-Computadores {
    background-image: url('/img/notebook-transparent-2.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100%;
    width: auto;
    transition: transform 1s ease;
}

#categora-item-Computadores:hover {
    transform: scale(1.1);
}

#categora-item-Mobile {
    background-image: url('/img/celular-transparent.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100%;
    width: auto;
    transition: transform 1s ease;
}

#categora-item-Mobile:hover {
    transform: scale(1.1);
}

#categora-item-drones {
    background-image: url('/img/drone-transparent.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100%;
    width: auto;
    transition: transform 1s ease;
}

#categora-item-drones:hover {
    transform: scale(1.1);
}

#Promoções {
    background-color: #751fff;
}

#categora-item-Promoções {
    background-image: url('/img/promoçao-icon.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100%;
    width: auto;
    transition: transform 1s ease;
}

#categora-item-Promoções:hover {
    transform: scale(1.1);
}

#categora-item-Tablets {
    background-image: url('/img/tablet-transparent.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100%;
    width: auto;
    transition: transform 1s ease;
}

#categora-item-Tablets:hover {
    transform: scale(1.1);
}

#Mais-Vendidos {
    background-color: black ;
}

#categora-item-Mais-Vendidos {
    background-image: url('/img/medal-icon-transpareant.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    /* background-color: black; */
    height: 100%;
    width: auto;
    transition: transform 1s ease;
}

#categora-item-Mais-Vendidos:hover {
    transform: scale(1.1);
}

#categora-item-TV {
    background-image: url('/img/tv-tranparente.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100%;
    width: auto;
    transition: transform 1s ease;
}

#categora-item-TV:hover {
    transform: scale(1.1);
}

#categora-item-Tecnologia-vestivel {
    background-image: url('/img/Apple-Watch.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100%;
    width: auto;
    transition: transform 1s ease;
}

#categora-item-Tecnologia-vestivel:hover {
    transform: scale(1.1);
}

#categora-item-Alto-falantes {
    background-image: url('/img/jbl-transparent.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100%;
    width: auto;
    transition: transform 1s ease;
}

#categora-item-Alto-falantes:hover {
    transform: scale(1.1);
}

#categora-item-Head-phones {
    background-image: url('/img/head-fone-transparent.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100%;
    width: auto;
    transition: transform 1s ease;
}

#categora-item-Head-phones:hover {
    transform: scale(1.1);
}

/* Melhor preço /////////////////////////////////////////////////////// */
.melhor-preço {
    width: 100%;
    height: 500px;
    background-image: url('/img/laptop-bg.webp');
    background-repeat: no-repeat;
    background-size: var(--bg-size);
    background-position: center;
    margin-top: 50px;
    background-color: #ececec;
    display: flex;
    justify-content: end;
    /* margin-bottom: 5vh; */
}

.overlay-economize-bg {
    position: absolute;
    z-index: -1;
}

.overlay {
    width: 600px;
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* justify-content: center; */
    align-items: end;
    /* transform: skewX(20deg); */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
    background: var(--background-none)
}

.overlay-texto {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
    width: 50%;
    margin-right: 100px;
    color: var(--color-black);
}

.overlay h2 {
    font-size: 30px;
    text-align: left;
    line-height: 40px;
    font-weight: 500;
    /* background-color: #b31515; */
    width: 350px;
    font-family: 'Roboto', sans-serif;
}

.overlay span {
    font-size: 90px;
    /* background-color: #751fff; */
    font-weight: 700;
}

.overlay p {
    font-size: 14px;
    margin-top: -30px;
    font-weight: 400;
}

.overlay button {
    background-color: #751fff;
    color: white;
    height: 40px;
    border-radius: 40px;
    width: 140px;
    border: none;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}


.overlay button:hover {
    background: transparent;
    color: black;
    border: white 1px solid;
    transition: 400ms all;
}

.overlay button:active {
    background-color: #751fff;
}

/* so hoje ////////////////////////////////////////////////////////// */
.so-hoje {
    width: 100%;
    height: 550px;
    background-image: url('/img/drone-bg.webp');
    background-repeat: no-repeat;
    background-size: var(--bg-size);
    background-position: right;
    margin-top: 50px;
    background-color: #ececec;
    display: flex;
}

.overlay-sohoje {
    width: 600px;
    height: 550px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    padding-left: 5%;
    /* transform: skewX(20deg); */
    clip-path: polygon(0 0, 70% 0, 100% 100%, 0 100%);
    background: var(--background-none);
}

.overlay-so-texto {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 80%;
    width: 70%;
    margin-right: 100px;
    color: var(--color-black);
}

.overlay-so-texto h3 {
    font-size: 20px;
    background-color: #d72d2d;
    width: max-content;
    padding: 5px;
    color: white;
}

.overlay-sohoje h2 {
    font-size: 30px;
    text-align: left;
    line-height: 40px;
    font-weight: 500;
    /* background-color: #b31515; */
    width: 350px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;

}

.overlay-sohoje span {
    font-size: 90px;
    /* background-color: #751fff; */
    font-weight: 700;
}

.overlay-sohoje p {
    font-size: 14px;
    margin-top: -10px;
    font-weight: 400;
}

.overlay-sohoje button {
    background-color: #751fff;
    color: white;
    height: 40px;
    border-radius: 40px;
    width: 140px;
    border: none;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    transition: 300ms all;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 4px;
}


.overlay-sohoje button:hover {
    background-color: black;
    color: white;
}

.overlay-sohoje button:active {
    background-color: transparent;
}

.so-hoje-bg {
    position: absolute;
    z-index: -1;
}

/* newsletter ///////////////////////////////////////////////////////// */
.newsletter {
    width: 100%;
    height: 250px;
    background-color: #751fff;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.newsletter h2 {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 700;
}

.newsletter p {
    font-size: 16px;
    font-weight: 300;
}

.newsletter form {
    /* background-color: #702222; */
    width: 800px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 40px;

}

.newsletter label {
    width: 30%;
    /* background-color: blue; */
    height: 30px;
    font-size: 20px;
    display: flex;
    /* align-items: end; */
    margin-left: 20px;
}

#email {
    height: 30px;
    width: 550px;
    padding: 10px 10px 10px 20px;
    border: none;
    border-radius: 25px 0 0 25px;
    background-color: #ececec;
    font-size: 16px;
    outline: none;
    color: black;
    border: 2px solid white;
}

#email::placeholder {
    color: black;

}

#email:hover {
    border: 2px solid black;
}

#email:focus {
    border: 2px solid black;
}

#submit {
    height: 54px;
    border: none;
    background-color: black;
    width: 230px;
    border-radius: 40px;
    background-size: 30px;
    cursor: pointer;
    margin-left: -30px;
    outline: none;
    color: white;
    font-size: 20px;
}

#submit:hover {
    background-color: #d1b4ff;
    transition: 1000ms all ease;
    color: black;
}

#submit:active {
    background-color: black;
    color: white;
}

