:root {
    --size-250px: 250px;
    --size-100px: 100px;
    --font-size-22px: 22px;
    --search-height: 40px;
    --bg-size: cover;
    --background-none: white;
    --background-black: black;
    --color-black: black;
    --color-white: white;
}


.small-text {
    font-size: 14px;
}

.btn-purple--white {
    background-color: #751fff;
    color: white;
    height: 40px;
    border-radius: 40px;
    width: 140px;
    border: none;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}

.btn-purple--white:hover {
    background: white;
    color: black;
    border: white 1px solid;
    transition: 400ms all;
}

.btn-purple--white:active {
    background-color: #751fff;
}

.bg-purple {
    background-color: #751fff;
}

.bg-black {
    background-color: black;
}

.small-title {
    font-size: 30px;
    text-align: left;
    line-height: 40px;
    font-weight: 500;
}

.medium-title {
    font-size: 40px;
    font-weight: 700;
}

.color-purple {
    color: #751fff;
}

.medium-text {
    font-size: 20px;
}

.btn-black-white {
    background-color: black;
    color: white;
    height: 40px;
    border-radius: 40px;
    width: 140px;
    border: none;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}

.btn-black-white:hover {
    background: white;
    color: black;
    transition: 400ms all;
}

.btn-black-white:active {
    background-color: black;
}

.input-email--medium {
    height: 30px;
    padding: 10px 10px 10px 20px;
    border: none;
    border-radius: 25px 0 0 25px;
    background-color: #ececec;
    font-size: 16px;
    outline: none;
    color: black;
    border: 2px solid white;
}

.input-email--medium::placeholder {
    color: black;
}

.input-email--medium:hover,
.input-email--medium:focus {
    border: 2px solid black;
}

.padding-none {
    padding: 0px !important;
}


/* fonts////font-family: 'Open Sans', sans-serif;////
font-family: 'Roboto', sans-serif;////
 */
* {
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    font-family: inherit;
}

html,
body {
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

header,
footer,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    max-width: 1900px !important;
    font-family: 'Open Sans';
}

header,
main {
    justify-content: center;

}

.main-nav {
    height: 150px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.nav-top {
    background-color: white;
    height: 70%;
    display: flex;
}
.nav-link{
    cursor: pointer;
}

.nav-top .site-logo {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    cursor: pointer;
    font-weight: 800;
    /* background-color: #751fff; */
}

.logo-link:hover {
    color: #751fff;
    transition: color 1000ms ease;
}

.search-section {
    width: 40%;
    min-height: 100px;
    position: relative;
}

.search-form {
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

#search {
    height: var(--search-height);
    width: 200px;
    padding: 10px 10px 10px 20px;
    border: none;
    border-radius: 25px 0 0 25px;
    background-color: #ececec;
    font-size: 16px;
    outline: none;
}

#search:hover {
    background-color: white;
    outline: auto;
    outline-color: rgb(205, 207, 202);
    height: calc(var(--search-height) - 2px);
}

#search:focus {
    background-color: white;
    outline: auto;
    outline-color: rgb(205, 207, 202);
    height: calc(var(--search-height) - 2px);
}

.btn-search {
    height: calc(var(--search-height) + 20px);
    border: none;
    background-color: #751fff;
    width: 70px;
    border-radius: 0 25px 25px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    cursor: pointer;
    background-image: url('/img/search-128.png');
    margin-left: -5px;
    color: transparent;
}

.btn-search:hover {
    background-image: url('/img/search-128-black.png');
}

#results {
    background-color: white;
    font-weight: 100;
    font-size: 16px;
    z-index: 2;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}

#results .research-product {
    font-weight: 500;
    font-size: 18px;
    color: #5a5a5a;
    font-family: 'Open Sans', sans-serif;
}

#results {
    width: 300px;
    display: none;
    border: 2px solid #ececec;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    height: 470px;
}

#results p {
    margin: 0;
    padding: 20px;
    border-bottom: 1px solid #bdbdbd ;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
}

#results p:last-child {
    border-bottom: none;
}

.user-section {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: 350px;
}

.login-section {
    align-items: center;
}

.login-section:hover,
.signup-link:hover {
    color: rgb(151, 148, 148);
}

.login-section,
.signup-link,
.user-icon {
    display: flex;
    font-size: 22px;
}

.user-icon {
    background: none;
}

.cart-section,
.user-icon {
    width: 60px;
    cursor: pointer;
}

.cart-section img {
    height: 50px;

}


.cart-quantity {
    position: absolute;
    font-size: 16px;
    color: #5c17cc;
}

.cart-sidebar {
    position: fixed;
    top: 0;
    right: -600px;
    width: 500px;
    height: 100vh;
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
    transition: right 0.5s;
    z-index: 9;
}

.open {
    right: 0;
    z-index: 9;
    user-select: none;
}

.dark-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.visible {
    opacity: 1;
    visibility: visible;
    position: fixed;
    z-index: 5;
}

.cart-sidebar-header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}

.cart-sidebar-header .small-title {
    font-size: 30px;
    font-weight: 600;
}

.cart-quantity-display {
    font-size: 24px;
}

.cart-items-list {
    height: calc(65% - 25px);
    margin-top: 30px;
    overflow-y: auto;
}

.cart-item {
    width: 100%;
    height: 100px;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #b3b3b3;
}

.cart-item-image {
    height: 100%;
    width: 100px;
    object-fit: contain;
}

.cart-item-info {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
}

.cart-item-title {
    width: 100%;
    height: 40px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.cart-item-price {
    padding-left: 20px;
    width: 100px;
}

.cart-item-quantity {
    margin-left: 50px;
    border: 1px solid;
    height: 30px;
    display: flex;
}

.quantity-display {
    padding: 10px;
}

.quantity-btn {
    border: none;
    font-size: 22px;
    height: 25px;
    width: 25px;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
}

.quantity-btn:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.quantity-btn:active {
    transform: scale(0.90);
    transition: transform 0.1s ease;
}

.checkout-section {
    background-color: #ececec;
    height: calc(25% - 25px);
    display: flex;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: -40px;
    margin-right: -40px;
    padding-bottom: 40px;
    margin-bottom: -40px;
    overflow: hidden;
}

.small-title {
    font-size: 20px;
    font-weight: 600;
}

.total-price-display {
    margin-left: auto;
    min-height: 30px;
    min-width: 50px;
    font-size: 20px;
}

.close-cart-btn {
    width: 600px;
    height: 70px;
    background-color: white;
    border: none;
    margin-right: -40px;
    margin-left: -40px;
    display: flex;
    align-items: center;
}

.cart-btn-img {
    object-fit: contain;
    height: 100%;
    margin-left: 30px;
    cursor: pointer;
}

.checkout-btn {
    width: 100%;
    height: 50px;
    color: white;
    margin: auto;
    background-color: #751fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.checkout-btn:hover {
    background-color: #5c17cc;
    transition: all 0.3s;
}

.checkout-btn:active {
    background-color: #9e7dd3;
}

/* down//////////////////////////////////////////////////////////*/
.nav-links-list {
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ececec;
}

.nav-link {
    font-size: 16px;
    font-weight: 400;
}

.nav-link:hover {
    color: #751fff;
}


/* suporte /////////////////////////////////////////////////////////// */

.support-section {
    width: 100%;
    height: 500px;
    background-image: url('/img/final-bg-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 80px;
}

.support-section,
.support-overlay,
.support-overlay-text,
.about-us-section {
    display: flex;
}

.support-overlay,
.support-overlay-text {
    flex-direction: column;
}

.support-overlay {
    width: 550px;
    height: 500px;
    background-color: var(--background-black);
    color: white;
    justify-content: center;
    padding-left: 5%;
    clip-path: polygon(0% 0%, 90% 0, 87% 34%, 100% 100%, 0% 100%);
}

.support-overlay-text {
    height: 80%;
    width: 70%;
    margin-right: 100px;
    color: var(--color-white);
}

.about-us-section,
.support-overlay-text {
    justify-content: space-evenly;
}

.support-overlay .small-title {
    margin-bottom: 10px;
    font-weight: 700;
}

.support-overlay .small-text {
    font-size: 16px;
    margin-top: -20px;
    line-height: 1.5;
    font-weight: 300;
}

.support-overlay .btn-purple--white {
    height: 50px;
    width: 200px;
}



.overlay-suport-bg {
    position: absolute;
    z-index: -1;
}

/* about //////////////////////////////////////////////////////////// */
.about-us-section {
    background-color: white;
    width: 100%;
    height: auto;
    align-items: flex-start;
    flex-wrap: wrap;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.column {
    height: auto;
    width: 220px;
    align-items: center;
    line-height: 40px;
    font-size: 16px;
    margin-top: 5vh;
}

.about-us-section .small-title {
    margin-bottom: 20px;
    padding-left: 10%;
    font-weight: 300;

}

.about-us-section .small-text {
    padding-left: 10%;
    font-size: 16px;
}

.about-us-section .small-text:hover {
    color: #751fff;
}

.address-details {
    padding-left: 10%;
}